<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">店舗情報</div>


  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>店名：</strong><%= @restaurant.title %></li>
    <li class="list-group-item"><strong>電話番号:</strong><%= @restaurant.tel %></li>
    <li class="list-group-item"><strong>住所:</strong><%= @restaurant.address %></li>
    <li class="list-group-item"><storng>ＵＲＬ:</storng><%= @restaurant.url %></li>
  </ul>
</div>






<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @restaurant.title %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @restaurant.tel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Url:</strong>
  <%= @restaurant.url %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant) %> |

    <hr>

    <!-- <h2>レビュー一覧</h2> -->
<% @restaurant.reviews.each do |review| %>
  <%= review.body %> <br>
        <%= review.rate %><br>
<% end %>





    <hr>
    <h2>レビューを残したユーザー一覧</h2>
    <%# throughオプションのおかげで、RestaurantはReviewを介してUserにアクセスできる  %>

    <% @restaurant.users.each do |user| %>
    <p><%= user.name %>

    </p>

    <% end %>
  </div>
</div>
